div.wrapper__private {
  margin-left: 290px;
  scroll-margin-top: 100px;
  padding: 0 30px;
  margin-top: 20px;
  min-height: calc(100vh - 80px);
  display: grid;
}

@media screen and (max-width: 1450px) {
  div.wrapper__private {
    margin-left: 240px;
    padding: 0 20px;
  }
}
