section.menu {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

div.menu_filter {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
  align-items: center;
  padding: 20px 14px;
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

div.menu_filter > a {
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
}

div.menu_filter > p {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  white-space: nowrap;
}

div.menu_filter > div {
  display: grid;
  column-gap: 8px;
  align-items: center;
}

div.menu_filter > div {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 8px;
  align-items: center;
}

div.menu_filter > div ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
  padding: 10px;
  background: var(--background-color);
  max-width: 100%;
  width: fit-content;
  border-radius: 4px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 20px;
}

div.menu_filter > div button:hover {
  background: inherit;
}

div.menu_filter > div button:active {
  transform: scale(0.8);
}

div.menu_filter > div button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--white-color);
  box-shadow: 0px 0px 20px 0px rgba(137, 147, 158, 0.2);
}

div.menu_filter > div button img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

div.menu_filter > div button:nth-child(1) img.arrow {
  transform: rotate(90deg);
}

div.menu_filter > div button:nth-child(3) img.arrow {
  transform: rotate(-90deg);
}

div.menu_filter > div ul::-webkit-scrollbar {
  display: none;
}

div.menu_filter > div ul li a {
  padding: 5px 10px;
  font-size: 14px;
  text-wrap: nowrap;
  white-space: nowrap;
  font-weight: 400;
  scroll-snap-align: start;
  border-radius: 4px;
  line-height: 16px;
  cursor: pointer;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  color: var(--text-color);
}

div.menu_filter > div ul li.active {
  cursor: default;
  pointer-events: none;
}

div.menu_filter > div ul li.active a {
  background: var(--white-color);
  border-radius: 5px;
  font-weight: 700;
}
