span.text_info {
  min-height: 16px;
  width: 100%;
  margin-top: -4px;
  font-size: 12px;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

span.text_error {
  color: var(--error-dark-color);
}

span.text_success {
  color: var(--success-color);
}

span.text_info span {
  color: var(--disabled-color);
}
