div.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  row-gap: 16px;
}

div.table div.table_head ul,
div.table div.table_content ul {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 80px;
  column-gap: 10px;
  width: 100%;
}

div.table div.table_head ul li,
div.table div.table_content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 5px;
  width: 100%;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

div.table div.table_content ul:hover {
  background: var(--background-color);
}

div.table div.table_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 8px;
}

div.table div.table_head ul {
  padding: 8px 10px;
}

div.table div.table_content ul {
  padding: 8px 10px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

div.table div.table_content ul li button {
  width: 24px;
  height: 24px;
}

div.table div.table_content ul li button img {
  width: 14px;
  height: 14px;
  object-fit: contain;
}

div.table div.table_content ul li button.edit {
  background: var(--text-color);
}

div.table div.table_content ul li button img {
  filter: brightness(0) invert(1);
}

div.table div.table_content ul li button {
  font-size: 10px;
}

div.table div.table_content ul li button.enable {
  background: var(--success-color);
}

div.table div.table_content ul li button.disable {
  background: var(--error-dark-color);
}

div.table div.pagination {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
